*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #020024;
    color: white;
   
}

.head{
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 2, 72, 0.338);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    padding: 0.2rem 1rem;
    z-index: 1000;
}

#menu-icon{
    display: none;
}

.navbar{
    display: flex;
    flex:1;
    justify-content: center;
}

footer h5{
    padding: 10px;
}

.socialicons{
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.socialicons a:hover{
    
    transform: scale(1.02) translateY(-3px);
}


.nav{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.nav a:hover{
    color: rgb(227, 252, 0);
    transition: 0.3s ease-in-out;
    transition-delay: 100ms;
    text-decoration-thickness: 3px;
    text-decoration-line: underline;
}

.home{
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 3rem ;

    
}

.home img{
    box-shadow: 2px 3px 5px blueviolet, 3px 4px 100px blueviolet;
}

.hometxt{
    display: flex;
    flex-direction: column;
}

.homecontact{
    margin-top: 2rem;
    text-align: center;
    background-color: blueviolet;
    width: 20%;
    padding: 1rem;
    border-radius: 50px;
}

.abthead{
    padding: 3rem 5rem;
}

.abt1{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5rem 5rem;
    gap: 100px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.abt1 img{
        box-shadow: 2px 3px 5px blueviolet, 3px 4px 100px blueviolet;

}

.abttext{
    text-align: justify;
}

.projects h2{
    padding: 3rem 5rem;
}

.proj{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 20px;
    justify-content: center;
    align-items: center;
   
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px;
     border: 1px solid rgb(104, 43, 226);
    box-shadow: 3px 4px 5px rgb(104, 43, 226), 4px 5px 10px rgb(104, 43, 226);
    border-radius: 10px;
    width: 320px;
    height: 290px;
    cursor: pointer;
}

.cont img{
    object-fit: contain;
}

.cont:hover{
    animation: scaleIn 0.3s ease-in-out forwards;
}

@keyframes scaleIn {
    from{
        transform: scale(1);
    }
    to{
        transform:scale(1.01)
    }
}

#contact h2{
    margin-top: 20px;
    padding-left: 20px;
}

#contact h2{
  padding: 3rem 5rem;
}

.whole{
    padding: 3rem 2rem;
}

.contact{
    margin: auto;
    display: flex; 
    justify-content: center;
    border: 1px solid rgb(104, 43, 226);
    border-radius: 10px;
    width: 540px;
    justify-content: center;
    padding: 3rem 1rem;  
    gap: 30px;
}

.contactinput{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact input{
    text-align: center;
    border: 1px solid rgb(153, 0, 255);
    box-shadow: 2px 3px 10px rebeccapurple;
    border-radius: 10px;
}

.contact input:focus{
    outline: 1px solid rgb(153, 0, 255);
}

.content{
    display: flex;
    gap: 20px;
}



.connect{
    display: flex;
    flex-direction: column;
}

.connect input{
    padding: 1rem;
    text-align: center;
    border-radius: 50px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    width: 40%;
    border-radius: 10px;
    border: transparent;
    background-color: blueviolet;
    cursor: pointer;
    color: white;
}

.btn:hover{
    background-color: hsl(271, 88%, 41%);
}

footer{
    margin-top: 10px;
    padding: 1rem;
    text-align: center;
    
}

@media (max-width: 600px) {
  header, section, footer {
    padding: 0;
  
  }

  #menu-icon{
    display: block;
    margin-top: 2.3rem;
    transform: scale(2);
}

  .navbar{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.616);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 2rem 2rem;
  }

  .navbar.active{
    display: block;
  }

  nav {
   display: flex;
   flex-direction: column;
  }

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .homecontact{
    width: 50vw;
  }

  .abt1{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    padding-top: 0;
  }

  .whole{
    padding: 0;
   margin-bottom: 2rem;
  }

  .content{
    flex-direction: column;
  }

  .contact{
    display: flex;
    flex-direction: column;
    width: 70vw;
  }

  #message{
    padding: 2rem;
  }


}
